code {
    _position : relative;  /* The underscore means only IE will see it */
    _padding-top : 20px;   /* Stupid IE */
    _padding-bottom : 15px;
    _display : block;
    border : 1px solid black;
    width : 40em;
    background-color : #232323;
    margin-bottom : 15px;
    }
    /* Pretty printing styles. Used with prettify.js. */
/* Vim sunburst theme by David Leibovic */

pre .str, code .str { color: #ffaa2b; } /* string  - orange */
pre .kwd, code .kwd { color: #E28964; } /* keyword - dark orange */
pre .com, code .com { color: #00690e; font-style: italic; } /* comment - dark green */
pre .typ, code .typ { color: #89bdff; } /* type - light blue */
pre .lit, code .lit { color: #3387CC; } /* literal - blue */
pre .pun, code .pun { color: #fff; } /* punctuation - white */
pre .pln, code .pln { color: #fff; } /* plaintext - white */
pre .tag, code .tag { color: #006eff; } /* html/xml tag    - dark blue */
pre .atn, code .atn { color: #00d9ff; } /* html/xml attribute name  - cyan */
pre .atv, code .atv { color: #ffc443; } /* html/xml attribute value - orange */
pre .dec, code .dec { color: #3387CC; } /* decimal - blue */

pre.prettyprint, code.prettyprint {
	
	
}

pre.prettyprint {
	width: 95%;
	margin: 1em auto;
	padding: 1em;
	white-space: pre-wrap;
}


/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE; } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }

@media print {
  pre .str, code .str { color: #060; }
  pre .kwd, code .kwd { color: #006; font-weight: bold; }
  pre .com, code .com { color: #600; font-style: italic; }
  pre .typ, code .typ { color: #404; font-weight: bold; }
  pre .lit, code .lit { color: #044; }
  pre .pun, code .pun { color: #440; }
  pre .pln, code .pln { color: #000; }
  pre .tag, code .tag { color: #006; font-weight: bold; }
  pre .atn, code .atn { color: #404; }
  pre .atv, code .atv { color: #060; }
}

::-moz-selection { /* stupid firefox */
  color: cyan;
  background: black;
}

::selection {
  color: cyan;
  background: black;
}

body {
  margin: 0;
  cursor: url('cursor.cur'), auto;
}

.skeleton {
animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.hiarchy {
  float: left;
    margin-left: 20px;
    overflow: hidden;
    overscroll-behavior: contain;
    background-color: rgb(116, 116, 116);
    size: auto;
    position:fixed;
    /*justify-content: center;
    align-content: center;*/
    border-right: 1px solid rgb(29, 29, 29);
    font-size: 20px;
    margin-left:auto;
  margin-right:auto;
  text-align:center;
  clear:both;
  gap: 5;
  display:grid;
  grid-template-columns:repeat(3, 1fr); /* repeat 3 columns */
  grid-column-gap: 2px; /* 2px gap between */
  align-items: end; /* ensure items align at the bottom */
  cursor: url('cursor.cur'), auto;
}
.content {
  float: right;
    margin-right: 20px;
}

a { color: white; }

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px lightblue; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: cyan; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00a7a7; 
}

.file-upload {
  background-color: #b1b1b1;
  color: rgb(0, 0, 0);
padding: 0.5rem;
font-family: sans-serif;
border-radius: 0.3rem;
}

.file-upload:hover {
  background-color: #868686;
  cursor: pointer;
}

.hidden {
  display: none;
}

html {
  cursor: url('cursor.cur'), auto;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
	position:absolute;
	justify-content:center;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
